$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 5vw;
}

h1 {
  font-size: 48px;
}

h3 {
  margin-bottom: 20px;
}

.file-table-cell-inactive {
  background-color: transparent;
  border: 0;
  width: 100%;
}

.sign-up-sign-in {
  margin-bottom: 50px;
  padding: 0 20px;
}
