$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 0 5vw;
}

.file-table-cell-edit {

}

.file-table-cell-inactive {
  background-color: transparent;
  border: 0;
  width: 100%;
}
